<div class="flex flex-col items-center pb-8 px-2">
  <h2 class="text-center text-6xl m-8 uppercase">{{ title }}</h2>
  <p class="text-center text-5xl mb-6 break-all mx-12">{{ password }}</p>
  <a
    #clipboard
    class="block mb-4 text-lg cursor-pointer"
    *ngIf="password !== ''"
    (click)="copyToClipboard(clipboard)"
    >Copy to clipboard</a
  >

  <app-password-form></app-password-form>
</div>

<footer class="text-center text-lg self-end pb-8">
  Created by
  <a
    class="text-red-500 text-xl animate-pulse"
    href="https://github.com/RustedCat"
    >RustedCat</a
  >
</footer>
