<div class="card bg-base-100 shadow-xl w-full text-xl px-2">
  <div class="card-body">
    <form #loginForm="ngForm" (ngSubmit)="submit()">
      <div class="form-control">
        <label class="cursor-pointer label">
          <span>Uppercase letters (A-Z)</span>
          <input
            #uppercase="ngModel"
            name="hasUppercase"
            type="checkbox"
            [(ngModel)]="formData.hasUppercase"
            [checked]="formData.hasUppercase"
            (change)="noUnselected('u', formData.hasUppercase)"
            class="checkbox checkbox-primary checkbox-sm"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span>Lowercase letters (a-z)</span>
          <input
            #lowercase="ngModel"
            name="hasLowercase"
            type="checkbox"
            [(ngModel)]="formData.hasLowercase"
            [checked]="formData.hasLowercase"
            (change)="noUnselected('l', formData.hasLowercase)"
            class="checkbox checkbox-primary checkbox-sm"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span>Numbers (0-9)</span>
          <input
            #hasNumbers="ngModel"
            name="hasNumbers"
            type="checkbox"
            [(ngModel)]="formData.hasNumbers"
            [checked]="formData.hasNumbers"
            (change)="noUnselected('n', formData.hasLowercase)"
            class="checkbox checkbox-primary checkbox-sm"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="cursor-pointer label">
          <span class="mr-8">Special characters (!@#$%^&*)</span>
          <input
            #hasSpecial="ngModel"
            name="hasSpecial"
            type="checkbox"
            [(ngModel)]="formData.hasSpecial"
            [checked]="formData.hasSpecial"
            (change)="noUnselected('s', formData.hasLowercase)"
            class="checkbox checkbox-primary checkbox-sm"
          />
        </label>
      </div>
      <div class="mt-4 text-center">
        <div class="mb-2">Password length: {{ formData.length }}</div>
        <label class="cursor-pointer label">
          <input
            name="length"
            type="range"
            min="5"
            max="128"
            [class]="sliderColor"
            [(ngModel)]="formData.length"
            (input)="updateSliderColor()"
            #slider="ngModel"
          />
        </label>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-primary text-2xl">Generate</button>
      </div>
    </form>
  </div>
</div>
